//- mixin info(name, nick, subtitle, subtitle2)
//-         h3 #{name}
//-             if nick 
//-                 | <br> aka #{nick}
//-         p #{subtitle}
//-         p #{subtitle2} 

mixin info(name, nick, subtitle, subtitle2)
        h2 #{name} aka #{nick}
        p #{subtitle}
        p #{subtitle2} 
